$primary: #473BF0;
$secondary: #F64B4B;
$green: #68D585;
$text: #161C2D;
$white: #fff;
$black: #000;


@font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/GilroyRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/GilroyBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/GilroyMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@import '~bootstrap/scss/bootstrap';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Gilroy' !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    object-fit: contain;
    margin-right: 48px;
}

.btn-custom {
    letter-spacing: -0.5px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}

.btn-blue-cust {
    padding: 14px 26px;
}
.left-part{
    max-width: 527px;
}
.subtitle {
    font-family: 'Gilroy';
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.625px;
    text-align: left;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: left;
    color: $text;
    margin-bottom: 25px;
}

.text {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: rgba($text, 0.7);
    margin-bottom: 55px;
}

.btn-blue-cust-banner {
    padding: 19px 32px;
}
.bg-banner{
    
}
.navbar {
    gap: 40px;
    padding-top: 16px;
    padding-bottom: 16px;

    .link {
        font-family: 'Gilroy';
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
        color: #161C2D;
        text-decoration: none;
    }

}
.agency-banner {
    padding: 136px 0px;

    .banner-img {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 53px;
            right: 40px;
            width: 25px;
            height: 79px;
            background-image: url(../../public/bammer-vector-3.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 40px;
            right: 343px;
            width: 125px;
            height: 128px;
            background-image: url(../../public/banner-vector-2.png);
            background-repeat: no-repeat;
            background-position: bottom left, bottom right;
            /* Set positions for each background image */
            background-size: contain, contain;
            z-index: 1;
        }
    }

    .banner-vector {
        position: absolute;
        left: 50%;
        z-index: -1;
        top: -40px;
        transform: translateX(-50%);
    }
}